{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{car.make}} {{car.model}}</h2>
            <h4>
                {% if car.forSale %}
                    For Sale
                {% else %}
                    Not For Sale
                {% endif %}
            </h4>
            <h4>The color of the car is: {{car.color}}</h4>
            <div class="colorBox" style="background-color: {{car.color}}"></div>
            {% if car.owner == userId %}
            <hr>
            <div class="btn-group">


                <a href="/cars/edit/{{car.id}}" class="btn btn-primary">Edit {{car.make}}</a>
                <form action="/cars/{{car.id}}?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete {{car.name}}">
                </form>
            </div>
        {% endif %}
        </article>
        <hr>
        <h4>comments</h4>
        <hr>
        {% if car.comments.length > 0 %}
            <div class="container-sm justify-content-center">
                {% for comm in car.comments %}
                    {% render '../comment.liquid', comm: comm, userId: userId, car: car %}
                {% endfor %}
            </div>
        {% else %}
            <small>no comments yet...</small>
        {% endif %}
    </div>
{% endblock %}